<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper中定义的是mybatis对某些业务的sql语句 -->
<mapper namespace="com.sunshine.mapper.TestMapper">
	<cache readOnly="true" size="500" flushInterval="120000" eviction="LRU"/>
	<select id="getloadAll" resultType="com.sunshine.entity.TestInfo">
		select id,name,sex from testInfo
	</select>
	<select id="selectTestInfo" resultType="com.sunshine.entity.TestInfo">
		select id,name,sex from testInfo where id=#{id}
	</select>
</mapper>